Package: com.alexburneikis.haptickeys
Name: Haptic Keys 15
Version: 0.0.1
Architecture: iphoneos-arm
Description: Adds haptic feedback on key presses
Maintainer: Alexander Burneikis
Author: Alexander Burneikis
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Depiction: https://alexburneikis.github.io/repo/depictions/?p=com.alexburneikis.haptickeys
